.wrapper-footer {
	padding: 1rem 0 .5rem 0;
	background-color: #fff;

	.logo {
		max-width: 200px;
		margin-bottom: 1rem;
		filter: grayscale(100%);
	}

	p {
		color: #363636;
		font-size: .9rem;
	}
}
