/* FONT VARIABLES */
/* COLOUR VARIABLES */
/*
FADER: 
/////////////////////////////
.link {
	@include fader;
}
*/
/*
INPUT PLACEHOLDER:
/////////////////////////////
input,
textarea {
	@include input-placeholder {
		color: #000;
	}
}
*/
/*
BG IMAGE HANDLER:
/////////////////////////////
.element {
	@include bg-img(top center, cover)
}
*/
body { background-color: #fff; }

.grid-container, hr { max-width: 75rem; }

@font-face { font-family: 'mmtico'; src: url("../icons/stuico.ttf?dlzl4g") format("truetype"), url("../icons/stuico.woff?dlzl4g") format("woff"), url("../icons/stuico.svg?dlzl4g#icomoon") format("svg"); font-weight: normal; font-style: normal; }

[class^='mmt-icon-'], [class*=' mmt-icon-'] { font-family: 'mmtico' !important; speak: never; font-style: normal; font-weight: normal; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.mmt-icon-imdb:before { content: '\e903'; }

.mmt-icon-stars:before { content: '\e904'; }

.mmt-icon-info_outline:before { content: '\e905'; }

.mmt-icon-search:before { content: '\e902'; }

.mmt-icon-back-arrow:before { content: '\e900'; }

.mmt-icon-forward-arrow:before { content: '\e901'; }

h1, h2, h3, h4, h5, h6, p, li, span, td, input, cite, a { font-family: "Montserrat", sans-serif; }

a { color: #fff; }

.section-title { color: #fff; font-size: 1.7rem; font-weight: 600; }

.section-error-message { color: #fff; }

.oflow { overflow-y: hidden; }

.show-for-sr { background-color: #000; color: #fff !important; }

.animated { animation-duration: 1s; animation-fill-mode: both; }

@keyframes fadeIn { from { opacity: 0; }
  to { opacity: 1; } }

.fadeIn { animation-name: fadeIn; }

@keyframes fadeInUp { from { opacity: 0;
    transform: translate3d(0, 2%, 0); }
  to { opacity: 1;
    transform: none; } }

.fadeInUp { animation-name: fadeInUp; }

@keyframes fadeinLeft { from { opacity: 0;
    transform: translateX(200%); }
  to { opacity: 1;
    transform: translateX(0); } }

.fadeinLeft { animation-name: fadeinLeft; }

@keyframes heroZoom { 0% { transform-origin: top center;
    transform: scale(1); }
  100% { transform: scale(1.1); } }

.wrapper-header { padding: 1rem 0; animation-name: fadeIn; animation-duration: 1s; animation-fill-mode: both; background-color: rgba(255, 255, 255, 0.9); margin-bottom: 2rem; position: fixed; top: 0; z-index: 10; width: 100%; box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); }

.wrapper-header .logo { transition: opacity 0.3s; opacity: 1; }

.wrapper-header .logo:hover, .wrapper-header .logo:focus { opacity: 0.8; }

.wrapper-header .form-search { display: flex; flex-direction: row; border: 1px solid #282828; border-radius: 2px; }

.wrapper-header .form-search input { border: 1px solid transparent; background-color: #fff; box-shadow: none; margin-bottom: 0; color: #fff; font-size: .9rem; transition: background-color .3s; }

.wrapper-header .form-search input:focus { background-color: #fff; color: #171717; }

.wrapper-header .form-search .btn-search { width: 50px; text-align: center; cursor: pointer; background-color: #fff; transition: background-color .3s; }

.wrapper-header .form-search .btn-search span { color: #282828; transition: color .3s; }

.wrapper-header .form-search .btn-search:hover, .wrapper-header .form-search .btn-search:focus { background-color: #282828; }

.wrapper-header .form-search .btn-search:hover span, .wrapper-header .form-search .btn-search:focus span { color: #fff; }

.wrapper-footer { padding: 1rem 0 .5rem 0; background-color: #fff; }

.wrapper-footer .logo { max-width: 200px; margin-bottom: 1rem; filter: grayscale(100%); }

.wrapper-footer p { color: #363636; font-size: .9rem; }

.wrapper-main { margin-bottom: 4rem; animation-name: fadeIn; animation-duration: 1s; animation-fill-mode: both; border-radius: 4px; }

.section-error { display: none; }

.section-results-info { margin-bottom: 2rem; }

.section-results-info p { color: #363636; font-size: .9rem; font-weight: 600; margin-bottom: 0; }

.section-results-info .block-pager { display: flex; flex-direction: row; justify-content: flex-end; align-items: center; width: 100%; }

.section-results-info .block-pager .btn-page { border: 2px solid #282828; height: 28px; width: 28px; margin-left: 1rem; cursor: pointer; transition: background-color .3s; }

.section-results-info .block-pager .btn-page span { color: #282828; font-size: .9rem; transition: color .3s; }

.section-results-info .block-pager .btn-page:hover, .section-results-info .block-pager .btn-page:focus { background-color: #282828; }

.section-results-info .block-pager .btn-page:hover span, .section-results-info .block-pager .btn-page:focus span { color: #fff; }

.section-results-info .block-pager .btn-page.is-inactive { border: 1px solid rgba(0, 0, 0, 0.2); cursor: not-allowed; }

.section-results-info .block-pager .btn-page.is-inactive span { color: rgba(0, 0, 0, 0.2); }

.section-results-info .block-pager .btn-page.is-inactive:hover, .section-results-info .block-pager .btn-page.is-inactive:focus { border: 1px solid rgba(0, 0, 0, 0.2); background-color: transparent; }

.section-results-info .block-pager .btn-page.is-inactive:hover span, .section-results-info .block-pager .btn-page.is-inactive:focus span { color: rgba(0, 0, 0, 0.2); }

.wrapper-list { position: relative; }

.wrapper-list:after { content: ''; position: absolute; top: -100px; left: 0; height: 300px; width: 100%; background: #fff; background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #fff 100%); z-index: 0; }

.wrapper-list .container-movies { position: relative; z-index: 1; }

.skip-to-content-link { background: #363636; color: #fff; font-family: "Montserrat", sans-serif; line-height: 1; left: 0; top: 0; padding: .5rem .8rem; position: absolute; transform: translateY(-200px); }

.skip-to-content-link:focus { transform: translateY(0); color: #fff; }

.btn-close { color: #fff; margin-bottom: 1rem; cursor: pointer; font-size: .8rem; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9); transition: opacity 0.3s; opacity: 1; }

.btn-close:hover, .btn-close:focus { opacity: 0.8; }

.btn-main { display: inline-block; background-color: #282828; cursor: pointer; color: #fff; font-size: .8rem; padding: .66rem 1rem; border-radius: 3px; transition: background-color .3s, color .3s; margin-left: .4rem; }

.btn-main:hover, .btn-main:focus { color: #fff; background-color: #171717; }

.btn-main.is-active { color: #fff; background-color: #171717; }

.card-movie { display: block; margin-bottom: 2rem; transition: background-color .3s, border .3s, transform .3s, box-shadow .3s; border-radius: 3px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); background-color: #403954; }

.card-movie span { display: block; color: #fff; }

.card-movie .img { background-color: #000; height: 300px; margin-bottom: .8rem; background-position: top center; background-repeat: no-repeat; background-size: cover; transition: box-shadow .3s; position: relative; border-radius: 3px; }

.card-movie .img:after { content: "\e905"; font-family: 'mmtico' !important; position: absolute; color: #fff; font-size: 2rem; bottom: 1rem; right: 1rem; text-shadow: 0 1px 5px rgba(0, 0, 0, 0.4); opacity: 0; transition: opacity .3s; z-index: 10; }

.card-movie .info { padding: 0 1rem 1rem 1rem; position: relative; border-bottom: 5px solid #282828; }

.card-movie .info:before { content: ''; position: absolute; top: -69px; left: 0; height: 60px; width: 100%; background: #000; background: linear-gradient(0deg, #403954 0%, rgba(64, 57, 84, 0) 100%); }

.card-movie .info .title { font-weight: 600; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; }

.card-movie .info .year { font-size: .8rem; }

.card-movie:hover, .card-movie:focus { transform: translateY(-3px); box-shadow: 0 0 10px rgba(0, 0, 0, 0.2); }

.card-movie:hover .img, .card-movie:focus .img { box-shadow: inset 0px 0px 10px rgba(0, 0, 0, 0.4); }

.card-movie:hover .img:after, .card-movie:focus .img:after { opacity: 1; }

.card-container { animation-duration: .8s; animation-fill-mode: both; animation-name: fadeInUp; animation-delay: .3s; }

.panel-movie-info { position: fixed; top: 0; left: 0; background-color: rgba(0, 0, 0, 0.7); width: 100%; height: 100%; z-index: 10; display: none; }

.panel-movie-info .content { position: absolute; right: 0; top: 0; background: #000; background: linear-gradient(180deg, #403954 40%, #000 100%); width: 50%; height: 100%; box-shadow: 0 5px 10px rgba(0, 0, 0, 0.8); padding: 2rem 3rem 3rem 3rem; opacity: 0; transition: opacity 3s; }

.panel-movie-info .content .movie-title { color: #fff; font-weight: 700; font-size: 2rem; margin-bottom: .2rem; line-height: 1.1; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9); }

.panel-movie-info .content .movie-release { color: #fff; font-weight: 300; font-size: 1rem; letter-spacing: 2px; text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.9); }

.panel-movie-info .content .movie-img { background-color: #000; height: 320px; margin-bottom: .8rem; background-position: center; background-repeat: no-repeat; background-size: cover; margin-bottom: 2rem; box-shadow: 0 0 10px rgba(0, 0, 0, 0.6); border-radius: 3px; border-bottom: 5px solid #282828; }

.panel-movie-info .content .movie-teaser p { color: #fff; font-size: .9rem; }

.panel-movie-info .content .movie-teaser ul { list-style: none; margin: .5rem 0 1.5rem 0; list-style-type: none; }

.panel-movie-info .content .movie-teaser ul li { color: #fff; padding: .5rem 0; font-size: .9rem; }

.panel-movie-info .content .movie-teaser ul li a { color: #fff; border-bottom: 1px dashed #fff; transition: opacity 0.3s; opacity: 1; }

.panel-movie-info .content .movie-teaser ul li a:hover, .panel-movie-info .content .movie-teaser ul li a:focus { opacity: 0.8; }

.panel-movie-info .content .movie-teaser ul li:not(:last-child) { border-bottom: 1px solid rgba(255, 255, 255, 0.1); }

.panel-movie-info.is-open { display: block; }

.panel-movie-info.is-open .content { animation-name: fadeinLeft; animation-duration: .6s; animation-timing-function: ease-out; animation-fill-mode: both; }

.wrapper-hero { padding: 18rem 0 14rem 0; position: relative; margin-top: -2rem; animation-name: fadeIn; animation-duration: 1s; animation-fill-mode: both; overflow: hidden; }

.wrapper-hero .bg-img { position: absolute; top: 0; left: 0; height: 100%; width: 100%; background-position: top center; background-size: cover; background-repeat: no-repeat; filter: blur(3px); opacity: 0.2; background-attachment: fixed; }

.wrapper-hero .grid-container { position: relative; }

.content-hero { animation-name: fadeInUp; animation-duration: 1s; animation-fill-mode: both; }

.content-hero h1 { color: #363636; font-weight: 600; font-size: 2rem; margin-bottom: 2.5rem; line-height: 1.1; position: relative; }

.content-hero h1:before { content: ''; position: absolute; width: 5px; border-bottom: 4px solid #282828; left: 210px; bottom: -1rem; }

.content-hero h1:after { content: ''; position: absolute; width: 200px; border-bottom: 4px solid #282828; left: 0; bottom: -1rem; }

.content-hero .highlite { color: #282828; font-size: .9rem; margin-bottom: .1rem; text-transform: uppercase; }

.content-hero .date { color: #363636; font-size: .9rem; margin-bottom: 1rem; }

.content-hero .info { color: #363636; font-weight: 600; font-size: 1rem; margin-bottom: 1rem; }

.container-movies { margin-top: -12rem; }

/* Small only */
@media screen and (max-width: 39.9375em) { .section-main { padding: 1rem; }
  .card-movie .img { height: 200px; }
  .panel-details { padding-top: 2rem; max-height: 85vh; overflow-y: scroll; }
  .panel-movie-info .content { width: 90%; padding: 1.5rem 1rem; }
  .panel-movie-info .content .movie-title { font-size: 1.2rem; }
  .panel-movie-info .content .movie-img { height: 130px; }
  .panel-movie-info .content .movie-release { font-size: .8rem; }
  .panel-movie-info .content .movie-teaser p, .panel-movie-info .content .movie-teaser li { font-size: .8rem; }
  .section-results-info .block-pager { margin: 1rem 0; justify-content: flex-start; }
  .content-hero h1 { font-size: 1.6rem; } }

/*iphone x etc*/
/* Medium and up */
@media screen and (min-width: 40em) { .panel-details { max-height: 85vh; overflow-y: scroll; padding-right: 1rem; }
  .panel-details::-webkit-scrollbar { width: 5px; }
  .panel-details::-webkit-scrollbar-track { background: transparent; }
  .panel-details::-webkit-scrollbar-thumb { background: #888; }
  .panel-details::-webkit-scrollbar-thumb:hover { background: #555; } }

/* Medium only */
@media screen and (min-width: 40em) and (max-width: 63.9375em) { .panel-movie-info .content { width: 80%; } }

/* Medium  iphone landscape only */
/* max-width 640px, mobile-only styles and landscape */
/* ipad pro */
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (-webkit-min-device-pixel-ratio: 1.5) { .panel-movie-info .content { width: 60%; } }

/* Large and up */
@media screen and (min-width: 64em) { .pad-left { padding-left: 2rem; }
  .pad-right { padding-right: 2rem; } }

/* Large only */
/* --------------------------------- */
/* reduced animations */
/* --------------------------------- */
@media screen and (prefers-reduced-motion: reduce) { * { animation: none !important; animation-duration: 0s !important; animation-delay: 0s !important; }
  .aos-init, .aos-animate { opacity: 1 !important; transform: none !important; transition-duration: 0s !important; transition-delay: 0s !important; transition-property: none !important; } }
/*# sourceMappingURL=main.css.map */