/* FONT VARIABLES */
$font-title: 'Montserrat', sans-serif;
$font-main: 'Montserrat', sans-serif;

/* COLOUR VARIABLES */
$col-brand-black: #171717;
$col-brand-red: #E41E13;
$col-section-bg: #282828;
$col-text-main: #fff;
$col-form-success: #60b676;
$col-form-error: #E41E13;