
h1, h2, h3, h4, h5, h6, p, li, span, td, input, cite, a {
	font-family: $font-main;
}

a {
	color: #fff;
}

.section-title {
	color: #fff;
	font-size: 1.7rem;
	font-weight: 600;
}

.section-error-message {
	color: #fff;
}